<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536167777707-rk7714lnk639gs4sci63njujcsranndh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536167777707-rk7714lnk639gs4sci63njujcsranndh</string>
	<key>API_KEY</key>
	<string>AIzaSyD4_uiOnbO7l0BwDhiU5nhFcTxy2qo7b6U</string>
	<key>GCM_SENDER_ID</key>
	<string>536167777707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homeOffice.TestAuthApp01</string>
	<key>PROJECT_ID</key>
	<string>testauthapp01</string>
	<key>STORAGE_BUCKET</key>
	<string>testauthapp01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536167777707:ios:cb2c02268f67360f377eee</string>
</dict>
</plist>